/*第一个页面的动画*/
@keyframes treeUp {
  0% {
    top: 0;
  }
  100% {
    top: -100px;
  }
}
@keyframes slideUp1 {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, -80px);
  }
}
@keyframes slideup2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -150px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes clouds {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50px, 0);
  }
}
/*1动结束*/
